/*********************/
/* MOBILE RESPONSIVE */
/********************/

@media screen and (max-width: 768px) {

    /******************/
    /* FIND SECTION */
    /*****************/

    #find {
        padding: 0 5%;
    }

    .search {
        position: relative;
        width: 100%;
        min-width: 415px;
    }

    .search-localistation {
        width: 10%;
        background-color: #F2F2F2;
        padding: 15px;
        border-radius: 35% 0 0 35%;
        text-align: center;
    }

    .search-form {
        width: 80%;
        border-width: 1px 0;
        border-style: solid;
        border-color: #F2F2F2;
    }

    .search-btn {
        width: auto;
        position: absolute;
        right: 25px;
        padding: 17px;
        background-color: #0065fc;
        color: #ffffff;
        border-radius: 30% 30% 30% 30%;
        border: none;
    }

    .search-btn:hover {
        background-color: #034ebe;
    }

    .search-text {
        display: none;
    }

    .search-icon {
        display: inline-block;
        margin: 0 auto;
        font-size: 20px;
        color: #ffffff;
    }

    /********************/
    /* LODGINGS SECTION */
    /*******************/

    .popular-container {
        padding: 30px 7%;
    }

    .rental-container {
        padding: 30px 7%;
    }

    .rental-card {
        width: 80%;
    }
}