/*********************/
/* MOBILE RESPONSIVE */
/********************/

@media screen and (max-width: 768px) {

    /******************/
    /* FIND SECTION */
    /*****************/

    #find {
        padding: 0 5%;
    }

    .search {
        position: relative;
        width: 100%;
        min-width: 415px;
    }

    .search-form {
        width: 80%;
    }

    .search-btn {
        width: auto;
        position: absolute;
        right: 25px;
        padding: 17px;
        border-radius: 30% 30% 30% 30%;
    }

    .search-btn:hover {
        background-color: #034ebe;
    }

    .search-text {
        display: none;
    }

    .search-icon {
        display: inline-block;
        font-size: 20px;
        margin: 0 auto;
    }

    /********************/
    /* LODGINGS SECTION */
    /*******************/

    .popular-container,
    .rental-container {
        padding: 30px 7%;
    }

    /* RENTAL */

    .rental-card {
        width: 100%;
    }

    .rental-card:last-child {
        margin-bottom: 0;
    }

    /**********************/
    /* ACTIVITIES SECTION */
    /**********************/

    #activities {
        padding: 30px 7%;
        margin-bottom: 0;
    }

    .activities-card  {
        width: 100%;
    }

    .activities-card:last-child {
        margin-bottom: 0;
    }

    /**********/
    /* FOOTER */
    /**********/

    #footer {
        padding: 30px 7%;
    }

    .footer-container {
        width: 100%;
    }
}