/*********************/
/* TABLET RESPONSIVE */
/********************/

@media screen and (max-width: 992px) {

    /***********/
    /* GENERAL */
    /***********/

    .wrapper {
        padding: 0;
    }

    h1 {
        font-size: 28px;
    }

    /**********/
    /* HEADER */
    /**********/

    #header {
        flex-direction: column;
        margin: 25px 0 50px 0;
    }

    #logo img {
        height: 80px;
        display: block;
        margin: 0 auto;
    }

    .menu {
        width: 100%;
        justify-content: space-around;
    }

    .menu-items {
        width: 50%;
        padding: 3%;
        border-top: none;
        border-bottom: solid #F2F2F2 3px;
        font-size: 22px;
        text-align: center;
    }

    .menu-items:hover {
        border-bottom: solid #0065fc 3px;
        border-top: none;
    }

    /****************/
    /* FIND SECTION */
    /***************/

    #find {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10%;
    }

    .search {
        width: 100%;
        max-width: 600px;
    }

    .filters {
        width: 100%;
        margin-top: 50px;
        flex-direction: column;
        align-items: flex-start;
    }

    .filters-title {
        margin: 0;
    }

    .filters-items {
        width: 100%;
        margin-top: 0;
    }

    .filters-btn {
        margin-top: 20px;
    }

    /********************/
    /* LODGINGS SECTION */
    /*******************/

    #lodgings {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    /* POPULAR */

    .popular-container {
        width: 100%;
        padding: 30px 10%;
    }

    .popular-card {
        width: 100%;
        height: 255px;
    }

    .popular-card article {
        height: 100%;
    }

    .popular-picture {
        height: 100%;
    }

    .popular-picture img {
        height: 245px;
    }

    .popular-description {
        width: 50%;
        padding: 2%;
    }

    .popular-ratings {
        bottom: 65px;
    }

    /* RENTAL */

    .rental-container {
        width: 100%;
        padding: 5%;
        background-color: #ffffff;
    }

    .rental-card {
        width: 48%;
        height: 350px;
    }

    .rental-card:nth-child(n+4) {
        margin-bottom: 25px;
    }

    .rental-picture img {
        height: 245px;
    }

    .rental-description {
        margin: 10px 0;
    }

    /**********************/
    /* ACTIVITIES SECTION */
    /**********************/

    #activities {
        padding: 5%;
        margin-bottom: 0;
    }

    .activities-items {
        height: auto;
        flex-direction: row;
        align-content: normal;
    }

    .activities-card  {
        width: 48%;
        margin-bottom: 25px;
    }

    .card-full,
    .card-medium,
    .card-small {
        height: 290px;
    }

    .card-full img,
    .card-medium img,
    .card-small img {
        height: 83%;
    }

    .activities-card figcaption {
        font-size: 17px;
    }

}