/*********************/
/* TABLET RESPONSIVE */
/********************/

@media screen and (max-width: 992px) {

    /***********/
    /* GENERAL */
    /***********/

    .wrapper {
        padding: 0;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
        line-height: 35px;
    }

    h3 {
        font-size: 22px;
        line-height: 25px;
    }

    .subtitle {
        font-size: 19px;
        font-weight: 500;
    }

    /**********/
    /* HEADER */
    /**********/

    #header {
        flex-direction: column;
        margin: 25px 0 50px 0;
    }

    #logo img {
        height: 80px;
        display: block;
        margin: 0 auto;
    }

    .menu {
        width: 100%;
        justify-content: space-around;
    }

    .menu-items {
        width: 50%;
        padding: 3%;
        border-top: none;
        border-bottom: solid #F2F2F2 3px;
        font-size: 22px;
        text-align: center;
    }

    .menu-items:hover {
        border-bottom: solid #0065fc 3px;
        border-top: none;
    }

    /****************/
    /* FIND SECTION */
    /***************/

    #find {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10%;
    }

    .search {
        width: 100%;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 0 20px 0;
    }

    .filters-title {
        font-size: 25px;
        margin: 0;
    }

    .filters-items {
        width: 100%;
        margin-top: 0;
    }

    .filters-btn {
        font-size: 20px;
        margin-top: 20px;
    }

    .rental-more {
        font-size: 22px;
        margin: 0;
    }

    /********************/
    /* LODGINGS SECTION */
    /*******************/

    #lodgings {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    /* POPULAR */

    .popular-container {
        width: 100%;
        padding: 30px 10%;
        border-radius: 0;
    }

    .popular-card {
        height: 240px;
    }

    .popular-description {
        padding: 5%;
    }

    .popular-description h3 {
        margin: 10px 0 15px 10px;
    }

    .popular-description p {
        font-size: 19px;
        margin: 0 0 0 10px;
    }

    .popular-ratings {
        bottom: 60px;
    }

    /* RENTAL */

    .rental-container {
        width: 100%;
        padding: 30px 5%;
        background-color: #ffffff;
    }

    .rental-card {
        width: 48%;
        height: 330px;
    }

    .rental-card:nth-child(n+4) {
        margin-bottom: 25px;
    }

    .rental-picture {
        height: 70%;
    }

    .rental-description {
        margin: 10px 0;
    }

    .rental-description p {
        font-size: 19px;
    }

    /**********************/
    /* ACTIVITIES SECTION */
    /**********************/

    #activities {
        padding: 30px 5%;
        margin-bottom: 0;
    }

    .activities-items {
        height: auto;
        flex-direction: row;
        align-content: normal;
    }

    .activities-card  {
        width: 48%;
        margin-bottom: 25px;
    }

    .card-full,
    .card-medium,
    .card-small {
        height: 290px;
    }

    .card-full img,
    .card-medium img,
    .card-small img {
        height: 80%;
    }

    .activities-card figcaption {
        font-size: 20px;
    }

    /**********/
    /* FOOTER */
    /**********/

    #footer {
        padding: 5%;
    }

    .footer-container {
        padding: 2%;
    }

    .footer-container h3 {
        font-size: 19px;
        margin: 0 0 5px 0;
    }
}